{% load static %}
<!DOCTYPE html>
<html lang="pl">
<head>
  <meta charset="UTF-8">
  <title>Galeria</title>
  <link rel="stylesheet" href="{% static 'css/gallery.css' %}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" rel="stylesheet" />
</head>
<body>
 <div class="background-blur"></div>
  <header id="mainHeader">
    <div class="logo-left">
      <img src="{% static 'images/logo.png' %}" alt="Logo" />
    </div>
    <h1>Galeria: {{ session.title }}</h1>
    <div class="nav-links">
      <a href="#">Strona główna</a>
      <a href="#">Oferta</a>
      <a href="#">Kontakt</a>
    </div>
  </header>


    <section class="gallery-grid">
     {% for photo in photos %}
      <div class="photo-item"> 
        <a href="{% url 'serve_encrypted_image' photo.token %}" data-lightbox="session-gallery">
      <img src="{% url 'serve_encrypted_image' photo.token %}" alt="Zdjęcie" />
        </a>
              <div class="photo-options">
               <label>
                Ilość:
                <input type="number" name="quantity_{{ image.id }}" min="1" max="9999" value="1" pattern="\d*" oninput="limitDigits(this, 5)">
              </label>
               <label>
                 <select name="size_{{ image.id }}">
                 <option value="rozmiar">-Format-</option>
                 <option value="small">10x10</option>
                 <option value="medium">20x20</option>
                 <option value="large">30x30</option>
                </select>
              </label>
                <p class="price">Cena: 20 zł</p>
            </div>
        </div>
      {% empty %}
        <p>Brak zdjęć w tej sesji.</p>
      {% endfor %}
    </section>
      <button type="submit">Dodaj do koszyka</button>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox.min.js"></script>
<script>
  window.addEventListener('scroll', () => {
    const header = document.getElementById('mainHeader');
    if (window.scrollY > 80) {
      header.classList.add('scrolled');
    } else {
      header.classList.remove('scrolled');
    }
  });

  function limitDigits(element, maxDigits) {
    if (element.value.length > maxDigits) {
      element.value = element.value.slice(0, maxDigits);
    }
  }
  // Lightbox konfiguracja//
  lightbox.option({
    'resizeDuration': 100,
    'wrapAround': true,
  });

</script>

<footer>
  &copy; 2025 Kilar Fotografia. Wszelkie prawa zastrzeżone.
</footer>

</body>
</html>